body {

   background-image: url(img/bokeh-1673016.jpg);
    background-attachment: fixed;
    font-family: Gabriola;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

h1 {
    color: #0f651c;
    font-size: 55px;
    text-align: center;
     text-shadow: 2px 2px 2px #0bff01;
    
}
