body {

    background-image: url(img/bokeh-1673016.jpg);
    background-attachment: fixed;
    font-family: Gabriola;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

h1 {

    font-size: 55px;
    text-align: center;
    color: brown;
}

h2 {
    color: currentColor;
    text-align: center;
}

div {
    border: 10px;

}

a {
    color: darkslategrey;
    font-size: 30px;
}

li {
    text-align: left;
}
