body {
    background-image: url(img/wall-769963_960_720.jpg);
    font-style: italic;
    font-size: xx-large;
    text-align: center;
}

h1 {
    font-family: "Monotype Corsiva";
    font-size: "1.5em";
    text-align: center;

}

a {
    color: chocolate
}
